// $main-color: powderblue;
// $head-color: orange;
// $link-color:white;
// $link-visited:brown;
// $table-button-color:green;
// $movie-watched:grey;
$main-color: green;
$head-color: pink;
$link-color:white;
$link-visited:brown;
$table-button-color:pink;
$movie-watched:grey;
$background-image: url('../img/xmas.jpg');